@page "/"
@inject IJSRuntime JS

<PageTitle>About opinionated XRPL</PageTitle>
<section class="text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">About</h1>
            <p class="lead text-muted">
                This website is all about the different projects on the XRPL who leverage a voting mechanism. Not only does this site give
                you additional insights into the votings, the result and the voters, but it will allow you to cast your vote using either Xumm or your Ledger hardware device!
                Anyways the voting feature is a bit experimental at the time and as such you might encounter some bugs, so please do report any bugs you encounter by reaching out
                on <a href="https://twitter.com/opinionatedrobo" target="_blank">Twitter</a>.
            </p>     
        </div>
    </div>
</section>

    <div class="album py-5 bg-light">
        <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Voting<small class="text-muted fw-light"> station</small></h4>
                    </div>
                    <div class="card-body">                        
                        <p>Have a look at the last and current votings, and why not cast your vote using your Ledger or Xumm.<span class="fw-bold fst-italic"> Want to list your project? Hit me up on <a href="https://twitter.com/opinionatedrobo" target="_blank">twitter</a></span></p>
                        <a href="/votingstation" class="w-100 btn btn-lg btn-primary" tabindex="-1" role="button" aria-disabled="false">Explore!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Voting<small class="text-muted fw-light"> archive</small></h4>
                    </div>
                    <div class="card-body">
                        <p>Have a look at passed votings.<span class="fw-bold fst-italic"> Want to list your project? Hit me up on <a href="https://twitter.com/opinionatedrobo" target="_blank">twitter</a></span></p>
                        <a href="/votingarchive" class="w-100 btn btn-lg btn-primary" tabindex="-1" role="button" aria-disabled="false">Explore!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Orderbook<small class="text-muted fw-light"> insights</small></h4>
                    </div>
                    <div class="card-body">                       
                        <p>Have a closer look at XRPL order books, and see which accounts put in sell / buy orders.<span class="fw-bold fst-italic"> Include another? Hit me up on <a href="https://twitter.com/opinionatedrobo" target="_blank">twitter</a></span></p>

                        <a href="/orderbook" class="w-100 btn btn-lg btn-primary" tabindex="-1" role="button" aria-disabled="false">Explore!</a>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Account<small class="text-muted fw-light"> insights</small></h4>
                    </div>
                    <div class="card-body">                        
                        <div>
                            <p>Lookup an account and get some basic insights, such as the outstanding orders and the amount of total XRP (including reserves).
                                <a href="/accountinfo" class="w-100 btn btn-lg btn-primary mt-3" tabindex="-1" role="button" aria-disabled="false">Explore!</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Tip<small class="text-muted fw-light"> me</small></h4>
                    </div>
                    <div class="card-body">                        
                        <p>If you like this site, consider helping out by making a small donation using the button below</p>

                        <a class="twitter-share-button w-100 btn btn-lg" style="background-color:orange" href="https://twitter.com/intent/tweet?text=%2B5%20XRP%20%40opinionatedrobo%20%23tipwithxumm%0A">
                            Tip 5 XRP
                        </a>

                    </div>
                </div>
            </div>            
        </div>




           
        </div>
    </div>





@code {
}