@page "/orderbook"


<PageTitle>Order Book</PageTitle>
<section class="text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Order books</h1>
            <p class="lead text-muted">
                This feature will be available in a little while, so check back regularly!
            </p>
        </div>
    </div>
</section>


@code {

}